<span style="color:lime;"></span><span style="color:lime;font-weight:bold;">note:</span> this is a BETA release; report issues at https://github.com/tectonic-typesetting/tectonic/issues
Running TeX ...
<span style="color:lime;"></span><span style="color:lime;font-weight:bold;">note:</span> warnings were issued by the TeX engine; use --print and/or --keeplog for details.
Running xdvipdfmx ...
Writing <span style="font-weight:bold;">paper.pdf</span> (383516 bytes)
Writing <span style="font-weight:bold;">paper.aux</span> (11771 bytes)
Not writing <span style="font-weight:bold;">paperNotes.bib</span>: it would be empty.
