Running 
<span style="font-weight: bold;">TeX</span> ...
<span style="color: lime;"></span>
<span style="color: lime; font-weight: bold;">note:</span> 
warnings were issued by the TeX engine; use --print and/or --keep-logs for details.
Running 
<span style="font-weight:bold;">BibTeX</span> ...
Rerunning 
<span style="font-weight:bold;">TeX</span> 
because bibtex was run ...
Rerunning <span style="font-weight: bold;">TeX</span> 
because &quot;paper.aux&quot; changed ...
Rerunning 
<span style="font-weight: bold;">TeX</span> 
because &quot;paper.aux&quot; changed ...
Running 
<span style="font-weight: bold;">xdvipdfmx</span> ...
Writing 
<span style="font-weight: bold;">paper.pdf</span> (383521 bytes)
Skipped writing 
<span style="font-weight: bold;">3</span> 
intermediate files (use --keep-intermediates to keep them)
